<section class="education" id="education🎓">
	<h2>Education</h2>
	<% if (education.length === 0) {%>
		<%- include("error.ejs", {
			msg: "Could not fetch my education info, or maybe I did not finish any school."
		}) -%>
			<%} else {%>
				<div class="education__timeline_wrapper">
				<div class="education__timeline">
				
			<% education.forEach(edu => { %>
				<article>
					<h4>
						<%= edu.school %>
					</h4>
					<p class="education__title">
						<%= edu.title %>
					</p>
					<p><code>
						<%= edu.startDate.toLocaleDateString("en-US", 
						{ month: 'long',year: 'numeric' }) %> 
						- <%= edu.finishDate.toLocaleDateString("en-US", 
						{ month: 'long',year: 'numeric' }) %>
					</code></p>
					<p class="education__moreInfo">
						<%= edu.moreInfo %>
					</p>
				</article>
				<% }) %>
			</div>
	</div>
	<% } %>
</section>