<section class="projects" id="projects💻">
	<h2>My Repos</h2>
	<div class="projects__repos_wrapper">
		<% if (repos.length==0) { %>
			<%- include("error.ejs", { msg: "For some reason my repos where not fetched (or I don't have ony?)." }); -%>
				<% } %>
					<% for( let i=0; i < repos.length; i++ ) { %>
						<article class=" projects__repo">
							<a href="<%= repos[i]['html_url'] %> " target="_blank" 
								rel="noopener noreferrer" title="Open on GitHub">
								<div class="projects__repo__info">
									<h3>
										<%= repos[i].name %>
									</h3>
									<p>
										<%= repos[i].description %>
									</p>

								</div>
							</a>
							<div class="projects__repo__footer">
								<div class="projects__repo__tags">
									<% if (repos[i].topics) { %>
										<% for( let j=0; j < repos[i].topics.length; j++ ) { %>
											<span>
												<%= repos[i].topics[j] %>
											</span>
											<% } %>
												<% } %>
								</div>
								<div class="projects__repo__line <%= repos[i].cssColorClass %>"></div>
								<p class="projects__repo__language">
									<%= repos[i].language %>
								</p>
							</div>


							<% if (repos[i].homepage) { %>
								<a class="projects__repo__homepage" href="<%= repos[i].homepage %>" 
									rel="noopener noreferrer" target="_blank" title="Open app">
									<i class="fas fa-external-link-alt"></i>
								</a>
								<% } %>
						</article>
						<% } %>
	</div>
	<p class="projects__show_all" role="button" tabindex="0">show a few more...</p>
	<script>
		var reposLen = <%= repos.length %>;
		function projectsDisplayShowAll() {
			function setProjectShowAllDisplay(value) {
				document.querySelector(".projects__show_all").style.display = value
			}
			if (window.innerWidth <= 700) {
				if (reposLen > 2) {
					setProjectShowAllDisplay("block");
				}
				return;
			}
			if (reposLen <= 4) {
				setProjectShowAllDisplay("none");
				return
			}
			setProjectShowAllDisplay("block");
			return
		}

		projectsDisplayShowAll();

		if (reposLen > 2) {
			window.addEventListener("resize", projectsDisplayShowAll)
			function expandProjects(ev) {
				window.removeEventListener("resize", projectsDisplayShowAll);
				ev.target.previousElementSibling.classList.add("expanded");
				ev.target.textContent = "See all on the GitHub."
				ev.target.setAttribute("aria-label", `Open <%= githubUsername %>'s Github repositories.`);
				ev.target.setAttribute("role", 'link');
				ev.target.removeEventListener("click", expandProjects);
				ev.target.addEventListener("click", function(ev) {
					const url = `https://github.com/<%= githubUsername %>?tab=repositories`;
					window.open(url, "_blank")
				});
			}
			document.querySelector(".projects__show_all").addEventListener("click", expandProjects);
		}
	</script>
</section>