<%- include("layout/head.ejs") -%>
	<div class="header_placeholder"></div>
	<%- include("sub/header") -%>

		<main class="main">
			<%- include("sub/about-me") -%>
				<%- include("sub/socials") -%>
					<%- include("sub/projects.ejs") -%>
		</main>

		<%- include("layout/footer.ejs") -%>
			